nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .brown1
{
    color: #BD9764;
}
nav .navbar-brand .brown2
{
    color: #856842;
}
nav .navbar-brand .brown3
{
    color: #695132;
}
nav .navbar-brand .brown4
{
    color: #523E25;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

.carousel {
  width:640px;
  height:360px;
}

.col-md-7 {
    margin: auto;
}

.carouselcenter{
    margin: auto;
    width: 50%;
}