<!DOCTYPE html>
<html>
    <head>
        <link href="static/featurette.css" rel="stylesheet">
        <!-- Nav bar -->
        <link href="/static/styles.css" rel="stylesheet"/>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet"/>
        <title>CACAO Club: Donate</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-light bg-light border">
            <a class="navbar-brand" href="/"><span class="brown1">C</span><span class="brown2">A</span><span class="brown3">C</span><span class="brown4">A</span><span class="brown1">O</span> <span class="brown2"></span></a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav mr-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/founders">Team</a></li>
                        <li class="nav-item"><a class="nav-link" href="/mission">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="/info">Club Info</a></li>
                        <li class="nav-item"><a class="nav-link" href="/events">Events</a></li>
                        <li class="nav-item"><a class="nav-link" href="/recipe">Recipes</a></li>
                        <li class="nav-item"><a class="nav-link" href="/donate">Donate</a></li>
                        <li class="nav-item"><a class="nav-link" href="/emailregister">Join!</a></li>
                    </ul>
            </div>
        </nav>

        <div class="main container">
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading" style="color: #705321">Donate to Pencils of Promise</h2>
                    <br>
                    <p class="lead">Education is the most powerful weapon we can use to change the world. Education reduces poverty, empowers women, and helps prevent disease. We believe everyone deserves access to quality education. Pencils of Promise is reshaping the landscape of education guided by 100% promise.</p>
                    <br>
                    <p class="lead">Every dollar donated online goes directly to POP’s programs to educate more children. So far Pencils of Promise has built 429 schools and has educated 74,503 students.</p>
                    <br>
                    <p class="lead"> Each semester our goal is to donate funds to ensure 14 children have everything they need for a quality education: a safe classroom, an inspired teacher, and access to basic bathrooms and clean drinking water.</p>
                    <br>
                    <p class="lead"> Check out our fundraising page for Pencils of Promise - </p>
                    <p class="lead"><a target="_blank" href="https://fundraise.pencilsofpromise.org/team/147226">https://fundraise.pencilsofpromise.org/team/147226 </a></p>
                </div>
                <div class="col-md-5">
                    <img class = gridpic src="static/images/popdonate.png" alt="Pencils of Promise Picture"/>
                </div>
            </div>
        </div>
    </body>

</html>