<!DOCTYPE html>
<html>
    <head>
        <link href="static/circles.css" rel="stylesheet">
        <!-- Nav bar -->
        <link href="/static/styles.css" rel="stylesheet"/>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet"/>
        <title>CACAO Club: Meet The Team</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-light bg-light border">
            <a class="navbar-brand" href="/"><span class="brown1">C</span><span class="brown2">A</span><span class="brown3">C</span><span class="brown4">A</span><span class="brown1">O</span> <span class="brown2"></span></a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav mr-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/founders">Team</a></li>
                        <li class="nav-item"><a class="nav-link" href="/mission">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="/info">Club Info</a></li>
                        <li class="nav-item"><a class="nav-link" href="/events">Events</a></li>
                        <li class="nav-item"><a class="nav-link" href="/recipe">Recipes</a></li>
                        <li class="nav-item"><a class="nav-link" href="/donate">Donate</a></li>
                        <li class="nav-item"><a class="nav-link" href="/emailregister">Join!</a></li>
                    </ul>
            </div>
        </nav>

        <br>

        <div style="text-align:center">
            <h1 style="color: #705321"><strong>The CACAO Board</strong></h1>
        </div>

        <br>

        <div class="container marketing">
            <div class = "row">
                <div class = "col s4">
                    <div class="card border-light mb-3">
                        <div class = "card-image"><img src ="static/images/rose.jpeg" height = "477px" width = "477px"></div>
                        <div class = "card-content"><p><b>President</b><br><b>Rosario Castañeda</b></p></div>
                        <div class = "card-action">Senior in Silliman who enjoys brussels sprouts, writing with really nice pens that don't smear, and mishearing her suitemate of three years Olivia (the other supreme overload of CACAO). She is an expert banana peeler and still doesn't know the lyrics to "Alexander Hamilton" despite having listened to it at least 23 times. <br><a target="_blank" href="https://www.facebook.com/gloria27castaneda" style="color: #705321"><strong>Rosario's Facebook</strong></a></div>
                    </div>
                </div>

                <div class = "col s4">
                    <div class="card border-light mb-3">
                        <div class = "card-image"><img src ="static/images/olivia1.jpg" height = "477px" width = "477px"></div>
                        <div class = "card-content"><p><b>President</b><br><b>Olivia Zhang</b></p></div>
                        <div class = "card-action">Senior who spends her time digging holes in the Silliman courtyard to store her chocolate for the winter. She is a fan of cute animal videos, the sad egg yolk that pops up on merchandise (Gudetama), and convenience. She likes Hamilton and the chili rice crackers from Durfee’s.<br><a target="_blank" href="https://www.facebook.com/olzhang" style="color: #705321"><strong>Olivia's Facebook</strong></a></div>
                    </div>
                </div>

                <div class = "col s4">
                    <div class="card border-light mb-3">
                        <div class = "card-image"><img src ="static/images/alexis.jpg" height = "477px" width = "477px"></div>
                        <div class = "card-content"><p><b>Project Manager</b><br><b>Alexis Dornan</b></p></div>
                        <div class = "card-action">Gumptious first-year from Los Angeles, California who enjoys computer science, cardio dancing, boxing, and creating gluten-free confections.<br><a target="_blank" href="https://www.facebook.com/alexis.dornan.3" style="color: #705321"><strong>Alexis's Facebook</strong></a></div>
                    </div>
                </div>

                <div class = "col s4">
                    <div class="card border-light mb-3">
                        <div class = "card-image"><img src ="static/images/james1.jpg" height = "477px" width = "477px"></div>
                        <div class = "card-content"><p><b>Head Chef</b><br><b>James Sun</b></p></div>
                        <div class = "card-action">Confused first-year from West Bloomfield, Michigan in Silliman who loves eating anything and everything.<br><a target="_blank" href="https://www.facebook.com/james.sun.948" style="color: #705321"><strong>James's Facebook</strong></a></div>
                    </div>
                </div>

                <div class = "col s4">
                    <div class="card border-light mb-3">
                        <div class = "card-image"><img src ="static/images/nina.jpg" height = "477px" width = "477px"></div>
                        <div class = "card-content"><p><b>Head Chef</b><br><b>Nina Bernick</b></p></div>
                        <div class = "card-action">Nina is a first year in Saybrook from Philadelphia, Pennsylvania who loves running cross country, cooking Italian cuisine and the scientific aspects of chocolate making.<br><a target="_blank" href="https://www.facebook.com/nina.bernick" style="color: #705321"><strong>Nina's Facebook</strong></a></div>
                    </div>
                </div>

                <div class = "col s4">
                    <div class="card border-light mb-3">
                        <div class = "card-image"><img src ="static/images/krish.jpg" height = "477px" width = "477px"></div>
                        <div class = "card-content"><p><b>Treasurer</b><br><b>Krish Desai</b></p></div>
                        <div class = "card-action">First-year student in Silliman College from Mumbai, India who loves pretty much every kind of chocolate, so if you ever give him chocolate, he will be your best friend for ever! Really!!<br><a target="_blank" href="https://www.facebook.com/krish.desai.73" style="color: #705321"><strong>Krish's Facebook</strong></a></div>
                    </div>
                </div>

            </div>
        </div>

    </body>
</html>