<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous" rel="stylesheet">
        <link href="/static/style.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <title>CACAO Club: Homepage</title>
    </head>

    <body>
        <div class="header">
            <strong><a href="/emailregister" style="color: #705321">Sign Up For CACAO's Email!</a></strong>
        </div>

        <div id="name" span class="brown1">C</span><span class="brown2">A</span><span class="brown3">C</span><span class="brown4">A</span><span class="brown1">O</span> <span class="brown2"></span></div>

        <div class="grid-container">
                <div class="grid-item">
                    <a href="/founders">
                        <img class="image" src="static/images/barpic.png" alt="Founders"/>
                    </a>
                </div>
                <div class="grid-item">
                    <a href="/events">
                        <img class="image" src="static/images/bean.png" alt="Upcoming Events">
                    </a>
                </div>
                <div class="grid-item">
                    <a href="/recipe">
                        <img class="image" src="static/images/cupcake.png" alt="Our Favorite Chocolate Recipes">
                    </a>
                </div>
                <div class="grid-item">
                    <a href="/mission">
                        <img class="image" src="static/images/mission.png" alt="Mission Statement">
                    </a>
                </div>
                <div class="grid-item">
                    <a href="/info">
                        <img class="image" src="static/images/info.png" alt="Club Information">
                    </a>
                </div>
                <div class="grid-item">
                    <a href="/donate">
                        <img class="image" src="static/images/donate.png" alt="Donate">
                    </a>
                </div>
        </div>

        <div id="footer">
            <p class="footer-block">
                <a class="social" target="_blank" href="https://www.youtube.com/user/pencilsofpromise" style="color: #705321"><i class="fa fa-youtube fa-3x" aria-hidden="true"></i></a>
                <a class="social" target="_blank" href="https://twitter.com/PencilsOfPromis?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" style="color: #705321"><i class="fa fa-twitter fa-3x " aria-hidden="true"></i></a>
                <a class="social" target="_blank" href="https://www.instagram.com/cacao.yale/" style="color: #705321"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a>
                <a class="social" target="_blank" href="https://www.facebook.com/YaleCacao" style="color: #705321"><i class="fa fa-facebook fa-3x" aria-hidden="true"></i></a>
            </p>
        </div>

        <div class ="contactfooter">
            <p class="footer-block">
                <p class = "email"><strong>CONTACT US</strong></p>
                <br>
                <p><a href="mailto:cacao-board@mailman.yale.edu" style="color: #705321" class = "email">cacao-board@mailman.yale.edu</a></p>
            </p>
        </div>
    </body>

</html>

