<!DOCTYPE html>
<html>
    <head>
        <link href="static/circles.css" rel="stylesheet">
        <!-- Nav bar -->
        <link href="/static/styles.css" rel="stylesheet"/>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet"/>
        <title>CACAO Club: Information</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-light bg-light border">
            <a class="navbar-brand" href="/"><span class="brown1">C</span><span class="brown2">A</span><span class="brown3">C</span><span class="brown4">A</span><span class="brown1">O</span> <span class="brown2"></span></a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav mr-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/founders">Team</a></li>
                        <li class="nav-item"><a class="nav-link" href="/mission">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="/info">Club Info</a></li>
                        <li class="nav-item"><a class="nav-link" href="/events">Events</a></li>
                        <li class="nav-item"><a class="nav-link" href="/recipe">Recipes</a></li>
                        <li class="nav-item"><a class="nav-link" href="/donate">Donate</a></li>
                        <li class="nav-item"><a class="nav-link" href="/emailregister">Join!</a></li>
                    </ul>
            </div>
        </nav>

        <br>

        <div style="text-align:center">
            <h1 style="color: #705321"><strong>Club Information</strong></h1>
        </div>

        <br>

         <div class="container marketing">

        <div class="row">
            <div class="col-lg-4">
                <center><img class="img-circle" src="static/images/group2.png" alt="Group Chocolate Making" width="140" height="140">
                <!--<h2>Heading</h2>-->
                <p><br><center>CACAO is an undergraduate student-run organization that provides a venue for students to engage in chocolate-production social enrichment. </p>
                <p><a class="btn btn-default" target="_blank" style="color: #705321" href="https://www.sfu.ca/geog351fall03/groups-webpages/gp8/prod/prod.html" role="button">Our Process &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <center><img class="img-circle" src="static/images/group3.png" alt="Truffles" width="140" height="140">
                <!--<h2>Heading</h2>-->
                <p><br><center>We provide members the opportunity to gain first-hand experience working with chocolate and to develop a discriminating palate for chocolate.</p>
                <p><a class="btn btn-default" target="_blank" style="color: #705321" href="https://gailambrosius.com/why-single-origin/meaning-of-single-origin" role="button">Single Origin Chocolate &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <center><img class="img-circle" src="static/images/group1.png" alt="Mixing Pot Image" width="140" height="140">
                <!--<h2>Heading</h2>-->
                <p><br><center>CACAO works on outreach and education – with an emphasis on sustainability, social, and economic issues – related to chocolate in a larger context.</p>
                <p><a class="btn btn-default" target="_blank" style="color: #705321" href="https://www.youtube.com/watch?v=fWI3Ykl7cPw" role="button">A Video About Cacao Harvesting &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
        </div>

    </body>
</html>
