<!DOCTYPE html>
<html>
    <head>
        <link href="static/featurette.css" rel="stylesheet">
        <!-- Nav bar -->
        <link href="/static/styles.css" rel="stylesheet"/>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet"/>
        <title>CACAO Club: About Us</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-light bg-light border">
            <a class="navbar-brand" href="/"><span class="brown1">C</span><span class="brown2">A</span><span class="brown3">C</span><span class="brown4">A</span><span class="brown1">O</span> <span class="brown2"></span></a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav mr-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/founders">Team</a></li>
                        <li class="nav-item"><a class="nav-link" href="/mission">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="/info">Club Info</a></li>
                        <li class="nav-item"><a class="nav-link" href="/events">Events</a></li>
                        <li class="nav-item"><a class="nav-link" href="/recipe">Recipes</a></li>
                        <li class="nav-item"><a class="nav-link" href="/donate">Donate</a></li>
                        <li class="nav-item"><a class="nav-link" href="/emailregister">Join!</a></li>
                    </ul>
            </div>
        </nav>

        <div class="main container">
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading" style="color: #705321">Mission Statement</h2>
                    <br>
                    <p class="lead">The purpose of CACAO, the Chocolate And Confectionary Artisans Organization, is to advance interest in the fields of the culinary arts. Cultivation of appreciation of fine chocolate, a gourmet commodity, is learned skill and a key goal of the organization. Our members will develop a greater respect for chocolate as a food item that pervades communities and cultures across the world.</p>
                    <p class="lead">A focus of CACAO is also to foster a deeper understanding of the larger implications of chocolate in the world: the history behind chocolate, the production of chocolate, the nutritional impact of chocolate, and the relevance of chocolate in culture.</p>
                    <p class="lead">CACAO will highlight outreach and education; our goal to focus on sustainable methods will be accomplished by purchasing resources from suppliers with an understanding of fair advocacy in chocolate production and hosting events and activities that promote social awareness.</p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-fluid mx-auto" src="static/images/option1.jpg" alt="Bean to Bar Process">
                </div>
            </div>
        </div>
    </body>

</html>